body{
  padding-top: 100px;
  font-size: 16px;
}
.countdown{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
.btn-force-white{
  color:white !important;
}
.icon-white{
  color:white;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
