---
layout: default
---
<script type="text/javascript">
  function getTimeRemaining(endtime){
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor( (t/1000) % 60 );
    var minutes = Math.floor( (t/1000/60) % 60 );
    var hours = Math.floor( (t/(1000*60*60)) % 24 );
    var days = Math.floor( t/(1000*60*60*24) );

    if (t > 0){
      return days + " Days, " + hours + " Hours, " + minutes + " Minutes, and " + seconds + " Seconds until OMUN III!";
    }
    else if (t < 0){
      return "The Conference is in motion!"
    }
    else {
      return "Oops!";
    }
  }
  var deadline = "4/8/2018"; //Countdown date in MM/DD/YYYY format (no 0's required)
  window.setInterval(function(){
    $("#timeLeft").html(getTimeRemaining(deadline));
  }, 1000);
</script>
<img class="full-cover" src="{{site.baseurl}}/img/omun-pan.png" alt="An image of the Upper Canada College Campus, the location where OMUN is held."/>
<div class="container">
  <div class="countdown">
    <h2><span id="timeLeft">000 Days, 00 Hours, 00 Minutes, and 00 Seconds until OMUN III!</span></h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">What is OMUN?</h3>
        </div>
        <div class="panel-body">
          <b>Ontario Model United Nations</b> is Ontario’s premier Model United Nations Conference held at annually Upper Canada College in Toronto, this year, from April 7th to April 8th. Building on a successful conference last year, OMUN is committed to providing delegates with a conference experience that will suit a wide range of Model UN skill levels and interests. OMUN committees will focus not only on some of the most pressing issues of today, but also on those of the past and future. OMUN III will feature innovative Crisis Committees, interactive General Assemblies, and debate-filled Specialized Agencies, and provide stimulating committees for all delegates. Delegates should look forward to a weekend of exciting debate and negotiation, as well as challenges that will force them to think critically to find solutions.
        </div>
         <div class="panel-footer">
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/about/" | prepend: site.baseurl }}" style="color:white;" role="button">About</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/news/" | prepend: site.baseurl }}" style="color:white;" role="button">News</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/committees/" | prepend: site.baseurl }}" style="color:white;" role="button">Committees</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/faq/" | prepend: site.baseurl }}" style="color:white;" role="button">FAQ</a>
           <!--
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/files/schedule.pdf" | prepend: site.baseurl }}" style="color:white;" role="button">Schedule</a>
          -->
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/team/" | prepend: site.baseurl }}" style="color:white;" role="button">Team</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/delegate-center/" | prepend: site.baseurl }}" style="color:white;" role="button">Delegate Center</a>
         </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Registration is open!</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Visit our <a href="{{site.regurl}}">Registration Page</a> to get started!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        {% for post in site.posts limit: 1%}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            </div>
            <div class="panel-body">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</span>
              </br>
              </br>
              {{ post.content }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
