---
layout: default
---
<script type="text/javascript">
  function getTimeRemaining(endtime){
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor( (t/1000) % 60 );
    var minutes = Math.floor( (t/1000/60) % 60 );
    var hours = Math.floor( (t/(1000*60*60)) % 24 );
    var days = Math.floor( t/(1000*60*60*24) );

    if (t > 0){
      return days + " Days, " + hours + " Hours, " + minutes + " Minutes, and " + seconds + " Seconds until OMUN III!";
    }
    else if (t < 0){
      return "The Conference is in motion!"
    }
    else {
      return "Oops!";
    }
  }
  var deadline = "4/8/2018"; //Countdown date in MM/DD/YYYY format (no 0's required)
  window.setInterval(function(){
    $("#timeLeft").html(getTimeRemaining(deadline));
  }, 1000);
</script>
<img class="full-cover" src="{{site.baseurl}}/img/promo-1.png" alt="An image of the Upper Canada College Campus, the location where OMUN is held."/>
<div class="container">
  <div class="countdown">
    <h2><span id="timeLeft">000 Days, 00 Hours, 00 Minutes, and 00 Seconds until OMUN III!</span></h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">What is OMUN?</h3>
        </div>
        <div class="panel-body">
          <b>Ontario Model United Nations</b> is a 2 day Model United Nations Conference held at Upper Canada College in Toronto. Ontario's premier MUN conference, OMUN offers a wide range of small to medium sized committees where all delegates, experienced or novice, can try their hand at public speaking, diplomacy, and negotiation. Delegates will assume the role of a nation or figure at various international bodies and domestic organizations, and will use their critical thinking and problem solving skills to find resolutions to some of the most pressing issues facing the world today. OMUN aims to give delegates a valuable window into the world of international relations, and foster discussion and learning on a variety of topics.
        </div>
         <div class="panel-footer">
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/about/" | prepend: site.baseurl }}" style="color:white;" role="button">About</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/news/" | prepend: site.baseurl }}" style="color:white;" role="button">News</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/committees/" | prepend: site.baseurl }}" style="color:white;" role="button">Committees</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/faq/" | prepend: site.baseurl }}" style="color:white;" role="button">FAQ</a>
           <!--
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/files/schedule.pdf" | prepend: site.baseurl }}" style="color:white;" role="button">Schedule</a>
          -->
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/team/" | prepend: site.baseurl }}" style="color:white;" role="button">Team</a>
           <a class="btn btn-primary btn-xs btn-force-white" href="{{ "/delegate-center/" | prepend: site.baseurl }}" style="color:white;" role="button">Delegate Center</a>
         </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Registration is open!</h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            Visit our <a href="{{site.regurl}}">Registration Page</a> to get started!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        {% for post in site.posts limit: 1%}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            </div>
            <div class="panel-body">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</span>
              </br>
              </br>
              {{ post.content }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
