<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{{ "/" | prepend: site.docurl }}">OMUN Docs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ "/" | prepend: site.docurl }}">Index</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/setup.html" | prepend: site.docurl }}">Setup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/content.html" | prepend: site.docurl }}">Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/api.html" | prepend: site.docurl }}">API</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/">To OMUN.ca</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="alert alert-danger" role="alert">
    <span class="fa fa-exclamation-circle"></span> <strong>Danger!</strong> The OMUN Docs and API are still in <strong>alpha</strong>. The API is not well-documented and unstable; it is not recommended for production use at this time.
  </div>
</div>
