</br>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>{{ site.title }}</h4>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="mailto:{{ site.facebook }}"><span class="fa fa-facebook"></span> Ontario Model UN</a></li>
          <li><a href="mailto:{{ site.twitter }}"><span class="fa fa-twitter"></span> @OntarioMUN</a></li>
          <li><a href="mailto:{{ site.instagram }}"><span class="fa fa-instagram"></span> @ontariomodelun</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-table.min.js" | prepend: site.baseurl }}"></script>
