<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">OMUN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
      <!--
      <li class="nav-item"><a class="nav-link" href="{{ "/news/" | prepend: site.baseurl }}">News</a></li>
      -->
      <li class="nav-item"><a class="nav-link" href="{{ "/committees/" | prepend: site.baseurl }}">Committees</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ "/faq/" | prepend: site.baseurl }}">FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ "/team/" | prepend: site.baseurl }}">Team</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ "/delegate-center/" | prepend: site.baseurl }}">Delegate Center</a></li>
    </ul>
    <p class="navbar-text my-2 mx-2">
      <a class="icon-white" href="{{ site.data.contact.facebook }}"><span class="fab fa-facebook"></span></a>
      <a class="icon-white" href="{{ site.data.contact.instagram }}"><span class="fab fa-instagram"></span></a>
    </p>
    <form class="form-inline my-2 my-lg-0" action="{{site.regurl}}" type="POST" data-proofer-ignore>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Register</button>
    </form>
  </div>
</nav>
