<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-container" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">OMUN</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-container">
      <ul class="nav navbar-nav">
        <li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
        <li><a href="{{ "/news/" | prepend: site.baseurl }}">News</a></li>
        <li><a href="{{ "/committees/" | prepend: site.baseurl }}">Committees</a></li>
        <li><a href="{{ "/faq/" | prepend: site.baseurl }}">FAQ</a></li>
        <li><a href="{{ "/team/" | prepend: site.baseurl }}">Team</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text lead"><a href="{{ site.facebook }}" style="color:white;"><span class="fa fa-facebook"></span></a> <a href="{{ site.twitter }}" style="color:white;"><span class="fa fa-twitter"></span></a> <a href="{{ site.instagram }}" style="color:white;"><span class="fa fa-instagram"></span></a> <a href="{{ site.github }}" style="color:white;"><span class="fa fa-github"></span></a></p>
        <li><button type="button" class="btn btn-default navbar-btn">Register</button></li>
      </ul>
    </div>
  </div>
</nav>
