<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include header.html %}

    <div class="container">
      <h1 class="page-header">{{ page.title }}</h1>
      <div class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="{{ site.baseurl }}/img/committees/{{ page.pic }}" alt="Committee Picture">
          </br>
          {% if page.guide %}
          <a href="{{ site.baseurl }}/files/committees/{{page.guide}}" type="button" class="btn btn-primary btn-block" target="_blank">View Background Guide</a>
          {% else %}
            <div style="text-align:center;">
              <h5><span class="label label-primary">Background Guide Coming Soon!</label></h5>
            </div>
          {% endif %}
        </div>
        <div class="col-sm-9">
          <div class="lead" id="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
