<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include header.html %}

    <div class="container">
      <div class="row mt-2">
        <div class="col-md-3">
          <div class="card card-body">
            <h1 class="display-4 d-block d-lg-none">{{ page.title }}</h1>
            <img class="img-fluid" src="{{ site.baseurl }}/img/committees/{{ page.pic }}" alt="Committee Picture">
            </br>
            {% if page.guide %}
            <a href="{{ site.baseurl }}/files/committees/{{page.guide}}" type="button" class="btn btn-primary btn-block btn-force-white" target="_blank">View Background Guide</a>
            {% else %}
              <div class="text-center">
                <span class="label label-primary">Background Guide Coming Soon!</label>
              </div>
            {% endif %}
            <hr />
            <p>Committee Size: {{page.size}} {% if page.double %}Teams{% else %}Delegates{% endif %}</p>
            {% if page.double %}
              <p>This committee is a double delegation: each delegation consists of two delegates, who both represent their delegation.</p>
            {% endif %}
            {% if page.email %}
              <hr />
              <p class="lead">
                Committee Email: <a href="mailto:{{page.email}}">{{page.email}}</a>
              </p>
              <p>
                As a reminder, check the <a href="{{site.baseurl}}/delegate-center">delegate center</a> to ensure that your position paper meets our submission guidelines!
              </p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body lead" id="content">
            <h1 class="display-4 d-none d-lg-block">{{ page.title }}</h1>
            <p>{{ page.shortbio }}</p>
            <p>Information on position papers, topics, and committee sizes are coming soon!</p>
            {% comment %}
              {{ content }}
            {% endcomment %}
            <p>
              Check out the <a href="{{site.baseurl}}/delegate-center/">Delegate Center</a> for information on position papers, research guidelines, and general committee tips.
            </p>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
